@import "../../globalStyles/variables.scss";
.large-plain-text {
  margin: 0 auto 2rem;
  color: $blue-six;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.large-text {
  margin: 1.6rem auto 0;
  color: $blue-six;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
    transform: translateX(3px);
  }
}
a {
  text-decoration: none;
}
a:visited {
  color: $blue-six;
  text-decoration: none;
}

.small-text {
  margin: 1.6rem auto 0;
  color: $blue-seven;
  font-size: 1.4rem;
  // font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
    transform: translateX(3px);
  }
}

.small-remove-text {
  color: $blue-seven;
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: all 0.3s;
  padding: 0 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.small-back-text {
  // margin: 1.6rem auto 0;
  display: inline-block;
  margin-bottom: 2rem;
  color: $blue-seven;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  vertical-align: middle;
  transition: all 0.3s;
  &:hover {
    // text-decoration: underline;
    letter-spacing: 2px;
    // transform: translateX(3px);
  }
}

.error-text {
  margin-bottom: 1.6rem;
  color: $red-four;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.edit-text {
  color: $blue-seven;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
    transform: translateX(1px);
  }
}

.delete-text {
  color: $red-five;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
  padding: 0.5rem;
  border: 1px solid $red-five;
  &:hover {
    text-decoration: underline;
    transform: translateX(1px);
  }
}
