@import "../../globalStyles/variables.scss";

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $blue-four;
  color: white;
  padding: 4rem 6rem;

  .footer-container-content {
    flex: 1;
    max-width: 120rem;

    @media only screen and (max-width: $bp-700) {
      text-align: center;
    }

    .logo {
      display: inline-block;
      color: $white;
      font-weight: 600;
      font-size: 2.4;
      letter-spacing: 1.5px;
      cursor: pointer;
      margin-bottom: 1rem;
    }

    .copyright {
      text-align: center;
    }
  }
}
