@import "../../globalStyles/variables.scss";

.filter-menu-container {
  display: flex;
  flex-direction: column;
  background-color: $grey-nine;
  padding: 5rem 3.2rem;
  border: 1px solid $grey-seven;
  max-width: 40rem;
  max-height: 60rem; // might need to remove later
  // border: 1px solid red;
}
