@import "../../globalStyles/variables.scss";

.checkout-page-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 8rem;
  // gap: 5rem;
  margin-bottom: 10rem;

  p {
    margin-bottom: 5rem;
  }
}
