$white: #ffffff;
$black: #000000;

// Greys
$grey-one: #323f4b;
$grey-two: #3e4c59;
$grey-three: #52606d;
$grey-four: #616e7c;
$grey-five: #7b8794;
$grey-six: #9aa5b1;
$grey-seven: #cbd2d9;
$grey-eight: #e4e7eb;
$grey-nine: #f5f7fa;

// Blues
$blue-one: #002159;
$blue-two: #01337d;
$blue-three: #03449e;
$blue-four: #0552b5;
$blue-five: #0967d2;
$blue-six: #2186eb;
$blue-seven: #47a3f3;
$blue-eight: #7cc4fa;
$blue-nine: #bae3ff;
$blue-ten: #e6f6ff;

// Greens

$green-one: #05606e;
$green-two: #07818f;
$green-three: #099aa4;
$green-four: #0fb5ba;
$green-five: #1cd4d4;
$green-six: #3ae7e1;
$green-seven: #62f4eb;
$green-eight: #92fdf2;
$green-nine: #c1fef6;
$green-ten: #e1fcf8;

// Red
$red-one: #610316;
$red-two: #8a041a;
$red-three: #ab091e;
$red-four: #cf1124;
$red-five: #e12d39;
$red-six: #ef4e4e;
$red-seven: #f86a6a;
$red-eight: #ff9b9b;
$red-nine: #ffbdbd;
$red-ten: #ffe3e3;
