@import "../../globalStyles/variables.scss";

.legend-checkbox {
  color: $blue-five;
  margin-bottom: 1.6rem;
}

.input-checkbox {
  margin-right: 0.5rem;
}

.label-checkbox {
  color: $blue-five;
  margin-bottom: 0.8rem;
}
