@import "../../globalStyles/variables.scss";

.profile-forsale-page-container {
  display: flex;
  flex-direction: row;
  flex: 1;

  .profile-notes-form-container {
    // border: 1px solid darkgreen;
  }
}
