@import "../../globalStyles/variables.scss";

.profile-forsale-page-container {
  display: flex;
  flex-direction: row;
  flex: 1;

  .profile-notes-form-container {
    flex: 1;
    padding: 5rem 1rem;

    h2 {
      font-size: 3.2rem;
      color: $blue-three;
      font-weight: 300;
      text-align: center;
      margin: 2rem 0;
    }
   }
}
