@import "../../globalStyles/variables.scss";

.single-note-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 1px solid $grey-five;
  cursor: pointer;
  max-width: 55rem;
  padding: 4rem 3.2rem;
  transition: all 0.3s;
  margin-bottom: 4rem;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 30%;
    border: 1px solid $grey-five;
  }
  .noteImage {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .note-info-container {
    border: 1px solid $grey-five;
    width: 65%;

    .note-top-line {
      font-weight: 600;
      font-size: 3.2rem;
    }
  }
}
