@import "../../globalStyles/variables.scss";

.edit-profile-page-container {
  padding: 5rem;
  flex: 1;
  .edit-profile-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-container {
      .file-label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 5rem;
        cursor: pointer;
        background-color: $grey-nine;
        border: 1px solid $blue-five;
        padding: 2rem;

        span {
          font-weight: 500;
          color: $blue-five;
        }
      }

      .edit-image {
        margin: 2rem;
        height: 20rem;
        width: 20rem;
      }
    }
  }
}
