@import "../../globalStyles/variables.scss";

.home-page-container {
  flex: 1;
  max-width: 120rem;

  h2 {
    font-size: 3.2rem;
    color: $grey-one;
    // font-weight: 500;
    margin-bottom: 4rem;
  }

  .hero-section {
    display: flex;
    .hero-image {
      max-height: 40rem;
    }
    .right-hero-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding: 3rem 7.2rem;
      text-align: center;

      h1 {
        font-size: 4rem;
        color: $grey-four;
      }

      p {
        color: $grey-five;
        line-height: 2;
      }
    }
  }

  .home-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.4rem 0;

    .home-section-two-cols {
      display: flex;
      gap: 20rem;

      .home-section-one-left,
      .home-section-one-right {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          font-size: 2rem;
          color: $grey-one;
          font-weight: 300;
          margin-bottom: 2rem;
        }

        li {
          margin-bottom: 2rem;
          color: $grey-three;
          text-align: center;
        }
      }
    }
  }
}
