@import "../../globalStyles/variables.scss";

.filterMenu {
  color: $blue-five;
  background-color: $grey-nine;
  border: 1px solid $blue-five;
  padding: 1rem;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
}

.filterMenu:last-of-type {
  margin-bottom: 0rem;
}
