@import "../../globalStyles/variables.scss";

.long-search-input {
  width: 30rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid $grey-five;
  background-color: $grey-nine;
  color: $grey-five;

  // @media only screen and (max-width: $bp-900) {
  //   width: 25rem;
  // }
}
