@import "../../globalStyles/variables.scss";

.filter-line {
  background-color: $grey-seven;
  height: 0.1rem;
  margin: 4rem 0;
}

.long-line {
  background-color: $grey-seven;
  height: 0.1rem;
  margin-bottom: 4rem;
}
